* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    height: 5vh;
    width: 10vw;
}

.container {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url(/image/fond_logo/bgmarbre.jpg);
    background-color: #737373;
    background-position: top center;
    background-size: cover;
}

/* navivation bar*/

.navbar {
    width: 100%;
    justify-content: space-between;
}

.logo {
    width: 250px;
    height: 200px;
    position: absolute;
    left: 45%;
    top: 0;
    text-align: center;
    padding-top: 20px;
}

.nav-links {
    width: 200px;
    padding-top: 70px;
    padding-left: 45px;
}

.nav-links ul, li {
    list-style: none;
}
  
.nav-links a {  
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
}
  
.nav-links a:hover {
    background-color: #ccc;
}

.nav-links i {
    height: 30px;
    width: 10px;
    padding-right: 30px;
} 

.menu-hamburger {
    display: none;
    width: 35px;
    position: absolute;
    top: 50px;
    left: 40px;
}

/* Body website */

.content { 
    margin-top: 4%;
    margin-left: 80px;
    color: white;
    max-width: 620px;
}

.content h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}

.content p {
    font-size: 20px;
}

.my-button {
    bottom: 30px;
    margin-top: 35px;
    background-color: #fff;
    border: none; /* No border */
    color: black; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No decoration */
    display: inline-block; /* Make it display as a block element */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Make the cursor change to a pointer on hover */
    border-radius: 12px; /* Rounded corners */
}


/* Lien en bas de page */ 

footer {
    margin-top: 255px;
    background-color: #000;
}

.footer-container {
    width: 100%;
    padding: 70px 30px 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    text-decoration: none;
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social-icons i {
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}

.social-icons a {
    transition: 0.5s;
}

.social-icons a:hover {
    background-color: #737373;
    transition: 0.5s;
}

.footer-nav {
    margin: 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
}

.footer-nav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.5s;
}

.footer-nav ul li a:hover {
    opacity:  1;
    color: #737373;
}

.footer-bottom  {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footer-bottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0 5px;
}

/* Responsive */ 

@media screen and (max-width: 850px) {
    * {
        margin: 0;
        padding: 0;
    }

    .navbar {
        padding: 0;
    }

    .navbar .menu-hamburger {
        display: block;
    }

    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.295);
        backdrop-filter: blur(20px);
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -100%;
        transition: all 0.5s;
    }

    .nav-links.mobile-menu {
        margin-left: 0;
    }

    .nav-links i {
        margin-right: 10px;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 50px;
    }
    .navbar .nav-links ul li {
        margin: 30px 0;
        font-size: 1.5rem;
    }


    .card-container {
        padding-top: 150px;
        width: auto;
        height: 200px;
    }
    
    .logo {
        height: 150px;
        width: 200px;
        left: 30%;
    }

    .content {
        padding-right: 30px;
        margin-left: 40px;
    }

    .content h1{
        padding-top: 250px;
        padding-right: 3px;
        font-size: 30px;
        font-weight: 600;
        line-height: 42px;
        margin-bottom: 25px;
    }

    .my-button{
        margin-left: 50px;
    }

    .footer-nav ul li a {
        font-size: 1.2rem;
        align-items: center;
    }
}